{% extends "base.html" %}
{% block title %}{% if word_id %}Edit{% else %}Create{% endif %}{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div>
    <form action="{% if word_id %}{% url 'words-edit' word_id %}{% else %}{% url 'words-create' %}{% endif %}" method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <input type='submit' value='Submit' class='btn btn-default' />
        <a href='{% url "home" %}' class='btn btn-warning'>Cancel</a>
    </form>
</div>
{% endblock %}
