{% extends 'base.html' %}
{% block content %}

<h1>Word List</h1>
<table>
    <th>
        <td>ID</td>
        <td>Word</td>
        <td>Phonetic</td>
        <td>Part of Speech</td>
        <td>Language</td>
        <td>Definition</td>
        <td>Attribution</td>
        <td>Notes</td>
    </th>
    {% for word in words %}
        <tr>
            <td>{{ word.pk }}</td>
            <td>{{ word.word }}</td>
            <td>{{ word.phonetic }}</td>
            <td>{{ word.part_of_speech}}</td>
            <td>{{ word.language }}</td>
            <td>{{ word.definition }}</td>
            <td>{{ word.attribution}}</td>
            <td>{{ word.notes}}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
